@model RepoSettings
@{
    string repoName = ViewBag.RepoName;

    ViewBag.Title = "Manage " + repoName;
}

<form action="" class="form-horizontal" method="post">
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewBag.Title</legend>

        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                @Html.EditorFor(model => model.Description)
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Archive</label>
            <div class="controls">
                @Html.EditorFor(model => model.IsArchived)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    </fieldset>
</form>
