@model IEnumerable<WebGitNet.Search.SearchResult>

@{
    ViewBag.Title = "Search Results";
}

<h2>@ViewBag.Title</h2>

<ul>
@foreach (var result in Model)
{
    <li>
        @Html.ActionLink(result.LinkText, result.ActionName, result.ControllerName, result.RouteValues, null)<br/>
        @foreach (var r in result.Lines)
        {
            @r.LineNumber @r.Line<br />
        }
    </li>
}
</ul>
