@model IEnumerable<WebGitNet.Search.SearchResult>
@{
    ViewBag.Title = "Search Results";
}

<h2>@ViewBag.Title</h2>

<ul class="unstyled">
@foreach (var result in Model)
{
    <li>
        @Html.ActionLink(result.LinkText, result.ActionName, result.ControllerName, result.RouteValues, null)<br/>
        @if (result.Lines.Any(r => r.LineNumber.HasValue))
        {
            <pre class="pre-scrollable">@string.Join(Environment.NewLine, result.Lines.Select(l => l.Line))</pre>
        }
        else
        {
            foreach (var r in result.Lines)
            {
                <p>@r.Line</p>
            }
        }
    </li>
}
</ul>
