@model IEnumerable<WebGitNet.Search.SearchResult>
@{
    ViewBag.Title = "Search Results";
}

<h2>@ViewBag.Title</h2>

<ul class="unstyled">
@foreach (var result in Model)
{
    var extension = Path.GetExtension(result.LinkText);
    var lineGroups = from l in result.Lines.Select((l, i) => new { Index = i, Line = l })
                     let index = l.Index
                     let line = l.Line
                     let offset = line.LineNumber - index
                     group line by offset into g
                     select g;

    <li>
        @Html.ActionLink(result.LinkText, result.ActionName, result.ControllerName, result.RouteValues, null)<br/>

        @foreach (var group in lineGroups)
        {
            if (group.Key.HasValue)
            {
                <pre class="prettyprint linenums:@group.First().LineNumber linenums">@string.Join(Environment.NewLine, group.Select(l => l.Line))</pre>
            }
            else
            {
                foreach (var r in group)
                {
                    <p>@r.Line</p>
                }
            }
        }
    </li>
}
</ul>
