@{
    ViewBag.Title = "Home";
}
<p>
    Welcome to WebGit .NET
</p>

<p>
    @Html.ActionLink("Browse the repositories.", "Index", "Browse")
</p>

<p>
    @Html.ActionLink("Create a new repo.", "Create", "Manage")
</p>
