.page-section
{
    margin : 2em 0;
}

.commit-subject, .commit-body
{
    white-space : pre-wrap;
    color: #000;
}

.commit-body
{
    margin-top: 1em;
}

.log-entry
{
    position : relative;

    background: #e6e6e6;
    border: solid 1px #aaa;
    margin: 4px 0;
    padding: 1em;

    overflow: auto;
    width: 100%;
}

.commit-person
{
    position: relative;
    margin-top: 1em;
    width: 50%;
}

.commit-person .avatar
{
    position: absolute;
    left: 0;
    top: 5px;
}

.commit-person .name, .commit-person .date
{
    margin-left: 30px;
}

.commit-references
{
    float: right;

    text-align: right;
    font-family: Consolas, Monospace;
}

.diff-container
{
    border: 1px solid #ddd;
    background: #f8f8f8;
    color: #000;
    overflow: auto;
    padding: 1em;
}

.diff
{
    font-family: Consolas, Monospace;
}

.diff-line
{
    white-space: pre;
}

.diff-line-add { background: #afa; }
.diff-line-remove { background: #faa; }
.diff-line-info { background: #ddd; }

.clone-info input 
{
    width : 600px;
}

.blob-preview
{
    margin: 1em 0;
    border: 1px solid black;
}

.preview-header
{
    position: relative;
    background: #EEE;
    padding: 8px;
}

.blob-content-type
{
}

.blob-raw-version-link
{
    position: absolute;
    right: 8px;
    top: 8px;
}

.preview-contents
{
    text-align: center;
    background: #888;
    padding: 8px;
    overflow: auto;
}

.preview-contents pre
{
    text-align: left;
    font-family: Consolas, Courier New, Monospace;
    font-size: 10pt;
    background: #fff;
    color: #000;
    padding: 1em;
}

.preview-unavailable
{
    color: #fff;
}

.image-preview
{
    border: 1px solid black;
    display: inline-block;
    background: url(checkerboard.png);
    background-repeat: repeat;
}

.image-preview img
{
    vertical-align: top;
    border: 1px solid white;
}

#ref-list
{
    padding-left: 12px;
}

#ref-list li
{
    list-style-type: none;
    vertical-align: middle;
}

.git-icon
{
    width: 12px;
    height: 12px;
    display: inline-block !important;
    display: block;
    vertical-align: middle;
}

.git-icon-branch
{
    background-image: url(branch.png);
}

.git-icon-merge
{
    background-image: url(merge.png);
}

.git-icon-tag
{
    background-image: url(tag.png);
}
