.page-section
{
    margin : 2em 0;
}

.commit-message
{
    white-space : pre-line;
}

.log-entry
{
    position : relative;

    background: #E8EEF4;
    border: solid 1px #696969;
    margin: 4px 0;
    padding: 1em;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.commit-person, .commit-person img
{
    vertical-align: middle;
    margin-top: 1em;
}

.commit-references
{
    position: absolute;
    top: 1em;
    right: 1em;

    text-align: right;
    font-family: Consolas, Monospace;
}

.clone-info input 
{
    width : 600px;
}

.preview-contents
{
    text-align: center;
}

.image-preview
{
    border: 1px solid black;
    display: inline-block;
    background: url(checkerboard.png);
    background-repeat: repeat;
}

.image-preview img
{
    vertical-align: top;
}
