.codetable { width: 100%; background: #ffffff; }
.linenos { width: 0; text-align: right; }
.linenos pre { font-family: Consolas, Monospace; }
.code { text-align: left; }
.code pre { font-family: Consolas, Monospace; margin: 0; }
.code .hll { background-color: #ffffcc }
.code .c { color: #008000 } /* Comment */
.code .err { border: 1px solid #FF0000 } /* Error */
.code .k { color: #0000ff } /* Keyword */
.code .cm { color: #008000 } /* Comment.Multiline */
.code .cp { color: #0000ff } /* Comment.Preproc */
.code .c1 { color: #008000 } /* Comment.Single */
.code .cs { color: #008000 } /* Comment.Special */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gh { font-weight: bold } /* Generic.Heading */
.code .gp { font-weight: bold } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { font-weight: bold } /* Generic.Subheading */
.code .kc { color: #0000ff } /* Keyword.Constant */
.code .kd { color: #0000ff } /* Keyword.Declaration */
.code .kn { color: #0000ff } /* Keyword.Namespace */
.code .kp { color: #0000ff } /* Keyword.Pseudo */
.code .kr { color: #0000ff } /* Keyword.Reserved */
.code .kt { color: #2b91af } /* Keyword.Type */
.code .s { color: #a31515 } /* Literal.String */
.code .na { color: #ff0000 } /* Name.Attribute */
.code .nc { color: #2b91af } /* Name.Class */
.code .ne { color: #ff0000 } /* Name.Entity */
.code .nt { color: #800000 } /* Name.Tag */
.code .ow { color: #0000ff } /* Operator.Word */
.code .sb { color: #a31515 } /* Literal.String.Backtick */
.code .sc { color: #a31515 } /* Literal.String.Char */
.code .sd { color: #a31515 } /* Literal.String.Doc */
.code .s2 { color: #a31515 } /* Literal.String.Double */
.code .se { color: #a31515 } /* Literal.String.Escape */
.code .sh { color: #a31515 } /* Literal.String.Heredoc */
.code .si { color: #a31515 } /* Literal.String.Interpol */
.code .sx { color: #a31515 } /* Literal.String.Other */
.code .sr { color: #a31515 } /* Literal.String.Regex */
.code .s1 { color: #a31515 } /* Literal.String.Single */
.code .ss { color: #a31515 } /* Literal.String.Symbol */
