body {
    padding-top: 40px;
}

.icon-branch {
    background-image: url(branch.png);
    background-position: 1px 1px;
}

.icon-branch.icon-white, .dropdown-menu > li > a:hover > .icon-branch {
    background-image: url(branch-white.png);
}

.icon-feed {
    background-image: url(feed.png);
    background-position: 2px 2px;
}

.icon-feed.icon-white, .dropdown-menu > li > a:hover > .icon-feed {
    background-image: url(feed-white.png);
}

#footer {
    text-align: center;
}

table.commit-metadata {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
