body
{
    background: #fff url(logo.png) no-repeat;
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}

p, ul
{
    line-height: 1.6em;
}

p
{
    margin: 0px;
}

code
{
    font-family: Consolas, Courier;
    font-size: 10pt;
    color: #52595D;
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    border-radius: 3px;
    white-space: nowrap;
    padding: 0 3px;
}

table.code
{
    font-family: Consolas, Courier;
    font-size: 10pt;
    color: #52595D;
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    white-space: pre-wrap;
    padding: 0 3px;
}

table.code td
{
    padding: 0;
    border: none;
}

table.code td.line-number
{
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    vertical-align: top;
    width: 1px;
}

table.code td.missing-lines
{
    padding-left: 10px;
}

ul.search-results
{
    padding: 0;
}

ul.search-results li
{
    list-style-type: none;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6
{
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    font-size: 1.5em;
    padding: 0 0 10px 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: 500;
    padding: 5px 0;
    margin: 0 0 0 190px;
    color: #000;
    float: left;    
    border: none;
    font-family: Segoe UI, Verdana, inherit;
    line-height: 36px;
    font-size: 28px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
}

#footer
{
    color: #000;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

ul#menu
{
    border-bottom: 1px #999 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 47px;
    margin: 10px 10px 10px 0;
    background-color: #f7f7f7;
    color: #333;
}

ul#menu li a:hover
{
    background-color: #eee;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

fieldset
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend
{
    font-size:1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"]
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"]
{
    width: 200px;
    border: 1px solid #CCC;
}

table
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
  width: 100%;
}

table td
{
  padding: 5px;
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #eee;
  border: solid 1px #eee;
}

.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    position : relative;
    right: 0;
    bottom : 0;
}

div#title
{
    display:block;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

ul 
{
    margin: 0px;
    padding-left: 20px;
}

#breadcrumber
{
    height: 24px;
    border-bottom: 1px solid #999;
    background: url(breadcrumber_bg.png);
    line-height: 24px;
    padding: 0 8px;
}

#breadcrumber a
{
    color: #000;
    text-decoration: none;
}

#breadcrumber a:hover
{
    text-decoration: underline;
}

.pager
{
    margin: 15px 0;
}

.pager a
{
    background: #f7f7f7;
    color: #aaa;
    margin: 0 3px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: default;
}

.pager a:link, .pager a:visited
{
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

.pager a:hover
{
    background: #eee;
}

.syndication, .archived
{
    float: right;
    margin: 0 0 5px;
    padding: 10px 0;
}

.syndication a, .syndication a:link, .syndication a:visited
{
    color: #333;
    padding: 10px 15px 10px 36px;
    background: #f7f7f7 url(feed.png) no-repeat 15px 50%;
    text-decoration: none;
    font-weight: bold;
}

.archived a, .archived a:link, .archived a:visited
{
    color: #333;
    padding: 10px 15px;
    background: #f7f7f7;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}

.syndication a:hover, .archived a:hover
{
    background-color: #eee;
}


.rightloglink
{
    float: right;
}