@model IList<string>

@{
    ViewBag.Title = "Repositories";
}

<ul>
@foreach (var repo in Model)
{
    <li>@Html.ActionLink(repo, "ViewRepo", new { repo = repo })</li>
}
</ul>

@Html.ActionLink("Create a new repo.", "Create", "Manage")
