@model IList<string>

@{
    ViewBag.Title = "Repositories";
}

@section headers
{
    <link rel="alternate" type="application/atom+xml" href="@Url.Action("LastCommits", "Syndication")" title="Last Commit in All Repos" />
}

<div class="syndication">
    <a href="@Url.Action("LastCommits", "Syndication")">Last Commit in All Repos</a>
</div>

<ul>
@foreach (var repo in Model)
{
    <li>@Html.ActionLink(repo, "ViewRepo", new { repo = repo })</li>
}
</ul>

@Html.ActionLink("Create a new repo.", "Create", "Manage")
