@{
    LogEntry commitLogEntry = ViewBag.CommitLogEntry;

    ViewBag.Title = "View Commit";
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.timeago.min.js")"></script>
    <link href="@Url.Content("~/Content/browse.css")" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            $("div.date").timeago();
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@Html.Partial("LogEntry", commitLogEntry, new ViewDataDictionary { { "Details", true } })
