@model IEnumerable<WebGitNet.Models.ObjectInfo>

@{
    ViewBag.Title = ViewBag.RepoName + " tree";

    string tree = ViewBag.Tree;
    string path = ViewBag.Path ?? "";
    if (!path.EndsWith("/") && !string.IsNullOrEmpty(path))
    {
        path += "/";
    }
}

<h2>@ViewBag.Title</h2>

<div>
@tree / @path
</div>

<table>
    <tr>
        <th>
            Size
        </th>
        <th>
            Name
        </th>
    </tr>

@foreach (var item in Model.OrderByDescending(i => i.ObjectType).ThenBy(i => i.Name))
{
    <tr>
        <td>
            @item.Size
        </td>
        <td>
        @if (item.ObjectType == ObjectType.Tree)
        {
            @Html.ActionLink(item.Name, "ViewTree", new { @object = tree, path = path + item.Name + "/" })
        }
        else
        {
            @Html.ActionLink(item.Name, "ViewBlob", new { @object = tree, path = path + item.Name })
        }
        </td>
    </tr>
}

</table>

