@model IList<DiffInfo>

@{
    LogEntry commitLogEntry = ViewBag.CommitLogEntry;

    ViewBag.Title = "View Commit";
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.timeago.min.js")"></script>
    <link href="@Url.Content("~/Content/browse.css")" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            $("div.date").timeago();
        });
    </script>
}

@Html.Partial("LogEntry", commitLogEntry, new ViewDataDictionary { { "Details", true } })

@foreach (var diff in Model)
{
<div class="diff-container page-section">
  <div class="diff">
    @foreach (var line in diff.Lines)
    {
    <span class="diff-line">@Html.Raw(Html.Encode(line).Replace(" ", "&nbsp;"))</span><br />
    }
  </div>
</div>
}
