@model IEnumerable<LogEntry>

@{
    ViewBag.Title = "View Commits";
}

@section headers
{
    <script src="@Url.Content("~/Scripts/jquery.timeago.min.js")"></script>
    <link href="@Url.Content("~/Content/browse.css")" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            $("div.date").timeago();
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@foreach (var entry in Model)
{
    @Html.Partial("LogEntry", entry)
}
